html, body {
  min-height: auto;
  display: flex;
  flex-direction: column;
  
  color: #FF0000;

 

}

body {
  font-family: 'Cute Font', cursive;
  background: white;

  background-position: center top;
  background-size: cover;
  margin: auto;

}

div{
  padding-right: unset;
  height: min-content;
  width: min-content;
}

.container{
  display: flex;

}

.page-title {
  text-align: center;
  font-weight: 150;
}

.page-description {
  border: 1rem solid #395424;
  margin: auto;
  text-align: center;
  padding: .01rem;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start:0px;
  margin-inline-end:0px;

}

.gallery {
  display: contents;
  justify-content: auto;
  align-items: normal;
  margin-top:10rem;
  width: 10rem;
}

.gallery-item {
  border: 0rem solid;
  margin: 0rem;
  align-items: auto;
  justify-content: auto;
}

.gallery-item .thumbnail {
  border: 0rem ;
  justify-content: auto;
  align-items: auto;

}

/* FOOTER NAVIGATION */

#nav ul {
  background-color: #FF0000;
  display: inline-block;
  list-style-type: circle;
  
}


.contact-btn {
  height: 1 rem;
  line-height: 1 rem;
  float: center;
  color:#FF0000;

}

.contact-btn a {
  cursor: pointer;
  margin-right: .2rem;
  padding: 0 rem 0 rem;
  border: .2rem solid #FF0000;
  position: relative;

}

.contact-btn a:active {
 top: 1rem;
 
}

nav a {
  height: 1rem;
  line-height: 1rem;
  color: #FF0000;
  text-decoration: darkred;

}

