html, body {
  min-height: auto;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 2;
 

}

body {
  font-family: 'Cute Font', cursive;
  background-image:
  url('https://www.colorhexa.com/779ecb.png');
  background-position: center top;
  background-size: cover;
  margin: auto;

}

div{
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

.container{
  display: flex;

}

.page-title {
  text-align: center;
  font-weight: 50;
}

.page-description {
  border: 8rem solid#000;
  margin: auto;
  text-align: center;
  padding: .1rem;
}

.gallery {
  display: contents;
  flex-wrap: center;
  justify-content: center;
  align-items: center;
  margin-top:.2rem;
  width: .2rem;
}

.gallery-item {
  border: 0rem solid #FFF;
  margin: 0rem;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-item .thumbnail {
  border: 0rem ;
  justify-content: center;
  align-items: center;

}

/* FOOTER NAVIGATION */

#nav ul {
  background-color: #000;
  display: inline-block;
  list-style-type: none;
  
}


.contact-btn {
  float: right;

}

.contact-btn a {
  cursor: pointer;
  margin-right: .2rem;
  padding: 0 rem 0 rem;
  border: .2rem solid #204156;
  position: relative;

}

.contact-btn a:active {
 top: .2rem;
 
}

nav a {
  height: .2rem;
  line-height: .2rem;
  color: #204156;
  text-decoration: none;
  float: center;
}

