html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
 

}

body {
  font-family: 'Cute Font', cursive;
  background-image:
  url('https://www.colorhexa.com/779ecb.png');
  background-position: center top;
  background-size: cover;
  margin: 0;

}

.page-title {
  text-align: center;
  font-weight: 50;
}

.page-description {
  border: .5rem solid #000;
  margin: .5 rem;
  text-align: center;
  padding: .5rem;
}

.gallery {
  display: center;
  flex-wrap: center;
  justify-content: center;
  margin-top:.5rem;
  width: .5rem;
}

.gallery-item {
  border: .5rem solid #FFF;
  margin: .5rem;
  justify-content: center;
}

.gallery-item .thumbnail {
  border: 1rem solid #FFF;
  justify-content: center;

}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: .5;
  padding: .5 rem;
}

nav ul {
  display: inline;
}

.contact-btn {
  float: right;

}

.contact-btn a {
  cursor: pointer;
  margin-right: .5rem;
  padding: .5rem .5rem;
  border: .5rem solid #204156;
  position: relative;

}

.contact-btn a:active {
 top: .5rem;
 
}

nav a {
  height: .5rem;
  line-height: .5rem;
  color: #204156;
  text-decoration: none;
}

